<div class="flex h-screen w-screen">
  <div class="auth-bg hidden flex-1 items-center justify-center bg-primary bg-cover lg:flex">
    <div class="max-w-2xl space-y-4 p-8 text-center text-white">
      <img src="./assets/home/taghazout.jpg" alt="Moroccan landscape" />
      <h1 class="text-4xl font-bold">"Explore Morocco, Experience the 2030 World Cup"</h1>
      <p class="text-xs font-light">
        Discover the magic of Morocco during the **2030 FIFA World Cup**! Whether you're exploring the vibrant streets of **Marrakech**, experiencing the coastal beauty of **Tangier**, or enjoying the historic charm of **Fes**, we help you plan the perfect trip.
        <span class="cursor-pointer font-medium text-yellow-400">Personalized</span> itineraries, exclusive travel tips, and seamless planning – all in one place.
        Make your journey **unforgettable** with Moroccan Trip Planner!
      </p>
    </div>
  </div>
  <div class="flex flex-1 items-center justify-center bg-background">
    <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">
      <!-- logo -->
      <div class="flex items-center justify-center">
        <a class="rounded bg-primary p-2">
          <svg-icon src="assets/icons/logo.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
        </a>
        <b class="text-md pl-3 font-bold text-foreground"> Moroccan Trip Planner </b>
      </div>
      <!-- Route -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
